<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"><span class="titulo">GoNSA2</span> </a>
    </div>
    <div class="usuario btn-group">
      <button type="button" class="esquina" data-toggle="dropdown">
        <i class="user fas fa-user"></i></button>

      <ul class="dropdown-menu" role="menu">
        <li class="opcion"><a href="#">Perfil</a></li>
        <li class="opcion"><a href="#">Ayuda</a></li>
        <li class="divider"></li>
        <li class="opcion"><a href="#">Cerrar Sesión</a></li>
      </ul>
    </div>

  </div>
</nav>

<section class="precios seccion">
  <h4>Materias</h4>
  <div class="contenedor">
    <ul class="lista-precios clearfix">
      <li>
        <div class="tabla-precio">
          <h3>Matematica</h3>
          <p class="numero"><i class="fas fa-brain"></i></p>
          <ul>
            <li><i class="fas fa-check"></i>Aprendizaje</li>
            <li><i class="fas fa-check"></i>Interactivo</li>
            <li><i class="fas fa-check"></i>Tematicas</li>
          </ul>
          <a href="#" class="boton">Pedir Hora</a>
        </div>
      </li>

      <li>
        <div class="tabla-precio">
          <h3>Ciencia</h3>
          <p class="numero"><i class="fas fa-atom"></i></p>
          <ul>
            <li><i class="fas fa-check"></i>Aprendizaje</li>
            <li><i class="fas fa-check"></i>Interactivo</li>
            <li><i class="fas fa-check"></i>Tematicas</li>
          </ul>
          <a href="#" class="boton">Pedir Hora</a>
        </div>
      </li>

      <li>
        <div class="tabla-precio">
          <h3>Historia</h3>
          <p class="numero"><i class="fas fa-history"></i></p>
          <ul>
            <li><i class="fas fa-check"></i>Aprendizaje</li>
            <li><i class="fas fa-check"></i>Interactivo</li>
            <li><i class="fas fa-check"></i>Tematicas</li>
          </ul>
          <a href="#" class="boton"> Pedir Hora </a>
        </div>
      </li>

      <li>
        <div class="tabla-precio">
          <h3>Lenguaje</h3>
          <p class="numero"><i class="fas fa-language"></i></p>
          <ul>
            <li><i class="fas fa-check"></i>Aprendizaje</li>
            <li><i class="fas fa-check"></i>Interactivo</li>
            <li><i class="fas fa-check"></i>Tematicas</li>
          </ul>
          <a href="#" class="boton">Pedir Hora</a>
        </div>
      </li>
    </ul>
  </div>
</section>
