html {
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

div.hero {
  width: 100%;
  background-image: url(../../../assets/valdivia.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  div.contenido-header {
    padding-top: 10px;
  }
}

div.contenido-header {
  padding-top: 40px;
}

nav.redes-sociales {
  text-align: center;
}

nav.redes-sociales a {
  color: #ffffff;
  font-size: 2em;
  margin-right: 20px;
}

nav.redes-sociales a:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  div.informacion-evento {
    width: 70%;
    margin: 0 auto;

  }
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .contenedor {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .contenedor {
    width: 90%;
    max-width: 1100px;
  }
}

div.informacion-evento {
  text-align: center;
  color: #ffffff;
}

div.informacion-evento p {
  margin: 0;
  display: inline;
  font-size: 20px;

}

div.informacion-evento p i {
  color: #ef5224;
  font-size: 2.4rem;
}

p.fecha {
  float: left;
}

p.ciudad {
  float: right;
  text-align: right;
}

h1.nombre-sitio {
  font-family: 'PT Sans', sans-serif;
  font-size: 5.9vw;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  h1.nombre-sitio {
    font-size: 11.5vw;
    margin: 0;
    margin-top: 20px;
    line-height: 1;
  }
}

p.slogan {
  font-family: 'Open Sans', sans-serif;
  text-transform: none !important;
}

p.slogan span {
  font-weight: bold;
}

.ingresar {
  margin-top: 150px;
  text-align: center;
}


.boton-ingresar {
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .5s ease;
  margin-right: 10px;
  border: solid 3px #ffffff;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
}

.boton-ingresar:hover {
  background-color: #ef5224;
  color: #ffffff;
  transition: all .5s ease;
  cursor: pointer;
}

.seccion {
  padding: 30px 0;
  background-color: #f2f2f2;
}

.seccion p {
  font-size: 1.2em;
  text-align: center;
}

section.programa {
  position: relative;
}

div.testimoniales {
  padding-bottom: 20px;
}

div.testimonial {
  padding: 5px;
  float: left;
  width: 50%;
}

blockquote {
  background-color: white;
  border: 1px solid #e1e1e1;
  position: relative;
  margin: 0 0 10px 0;
  padding-bottom: 20px;
}

blockquote p {
  text-align: justify !important;
  font-size: 1em !important;
  font-family: 'Open Sans', sans-serif;
  padding: 0 20px 0 65px;
}

blockquote p::before {
  content: '\201c';
  position: absolute;
  left: 13px;
  top: -6px;
  font-size: 8rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fe4918;
}

footer.info-testimonial {
  padding: 0;
}

footer.info-testimonial img {
  float: left;
  width: 20%;
  border-radius: 50%;
  margin-left: 20px;
}

footer.info-testimonial cite {
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
  width: 66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;
}

footer.info-testimonial cite span {
  color: black;
  display: block;
  text-transform: none;
  margin-top: 5px;

}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
  text-align: center;
}

h2::after {
  content: '';
  margin: 0 auto;
  background-image: url(../../../assets/separador.png);
  height: 30px;
  width: 100px;
  display: block;
}
